.main-container {
    font-size: 1.5rem;
    display: inline-block;

    padding: 2rem;

    //margin-left: 20% takes it past the anchor in the desktop view.
    margin-left: 25rem;
    @media (max-width: 1080px) {
        margin-left: 0%;
    }
}

.about-me {
    padding: 2rem;
    background-image: linear-gradient(to left, rgba($color-three, .8), rgba($color-three, .8));
    color: $font-color;

    &__header {
        padding: 1rem 0;
        font-size: 3rem;
    }

    &__paragraph {
        padding: 1rem 1rem;
        font-size: 2rem;

        @include respond(phone) {
            font-size: 1.5rem;
        }
    }

    &__programmer {

        &__header {
            font-weight: bold;
            text-decoration: underline;
            font-size: 2.5rem;
        }

        &__paragraph {
            font-family: 'Abel', cursive;
        }
    }

    &__personal {

        &__header {
            font-weight: bold;
            text-decoration: underline;
            font-size: 2.5rem;
        }
        
        &__paragraph {
            font-family: 'Abel', cursive;
        }
    }
}

.projects {
    font-size: 2rem;
    background-image: linear-gradient(to left, rgba($color-three, .8), rgba($color-three, .8));

    &__header {
        font-size: 3rem;
        padding: 1rem 0 2rem 0;
        color: $font-color;
    }

    &__project {
        padding: 1rem;
        margin: 1rem;
        color: $font-color;
    }

    &__flow-tools {
        padding: 1rem;
        border: 1px solid black;
        background-image: linear-gradient(to left, rgba($color-three, .8), rgba($color-three, .8));

        &__header {
            padding-bottom: 1rem;
            color: $font-color;
        }

        &__image {
            width: 75%;
        }

        &__description {
            font-family: 'Abel', cursive;
        }

        &__tech-used {
            margin-top: 1rem;
        }

        &__why {
            font-family: 'Abel', cursive;
            font-size: 2rem;
            color: $color-four;
        }

        &__github {
            opacity: .8;
        }
    }

    &__macronator {
        padding: 1rem;
        border: 1px solid black;
        background-image: linear-gradient(to left, rgba($color-three, .8), rgba($color-three, .8));

        &__header {
            padding-bottom: 1rem;
            color: $font-color;
        }

        &__image {
            width: 75%;
        }

        &__description {
            font-family: 'Abel', cursive;
        }

        &__tech-used {
            margin-top: 1rem;
        }

        &__why {
            font-family: 'Abel', cursive;
            font-size: 2rem;
            color: $color-four;
        }

        &__github {
            opacity: .8;
        }
    }

    &__bookmarks {
        padding: 1rem;
        border: 1px solid black;
        background-image: linear-gradient(to left, rgba($color-three, .8), rgba($color-three, .8));

        &__header {
            padding-bottom: 1rem;
            color: $font-color;
        }

        &__image {
            width: 75%;
        }

        &__description {
            font-family: 'Abel', cursive;
        }

        &__tech-used {
            margin-top: 1rem;
        }

        &__why {
            font-family: 'Abel', cursive;
            font-size: 2rem;
            color: $color-four;
        }

        &__github {
            opacity: .8;
        }
    }
}