// $color-one: #C06014;
// $color-two: #EDDBCD;
// $color-three: #000000;
// $color-four: #CDCDCD;

$color-one:     #B82601;
$color-two:     #000000;
$color-three:   #062F4F;
$color-four:    #813772;


$color-white: #fff;
$color-black: #000;
