// $color-one: #C06014;
// $color-two: #EDDBCD;
// $color-three: #000000;
// $color-four: #CDCDCD;

$color-one:     #00cf80;
$color-two:     #000000;
$color-three:   #062F4F;
$color-four:    #b2cce5;


$color-white: #fff;
$color-black: #000;
$font-color: #999;